.movie-thumbnail {
  display: flex;
  flex-direction: column;
  height: 50vh;
  width: 16vw;
  margin: 20px 10px 10px 10px;
  /* border: 2px solid blue; */
  justify-content: flex-start;
  background-color: #D3D3D3;
}

.movie-poster {
  height: 80%;
  width: 100%;
  /* border: 2px solid red; */
  background-size: 100% 100%;
  background-repeat: no-repeat;
  justify-content: center;
}

.movie-title, .movie-rating {
  margin: 0;
}
